version: 2.1

executors:
  docker-executor:
    docker:
      - image: cimg/base:stable
    environment:
      IMAGE_NAME: ghcr.io/berkaydedeoglu/nomad-deployer

jobs:
  build-and-push:
    executor: docker-executor
    steps:
      - checkout

      - setup_remote_docker:
          version: 20.10.18

      - run:
          name: Build Docker image
          command: |
            docker build -t $IMAGE_NAME:latest .

      - run:
          name: Login to GitHub Container Registry
          command: |
            echo "$GHCR_TOKEN" | docker login ghcr.io -u "$GHCR_USER" --password-stdin

      - run:
          name: Push Docker image
          command: |
            docker push $IMAGE_NAME:latest

workflows:
  build-and-deploy:
    jobs:
      - build-and-push:
          context: BD-Infra
